div.footer
    div.container
        div.row
            div.col-lg-12.col-md-12
                a 关于淘殿堂&nbsp&nbsp
                a 帮助中心&nbsp&nbsp
                a 网站合作&nbsp&nbsp
                a 联系我们&nbsp&nbsp
                a 法律声明&nbsp&nbsp
                a 申请优质店铺位&nbsp&nbsp
        div.row.margin-top-10px
            div.col-lg-12.col-md-12
                p.fe-1 © 2015-2017 淘殿堂&nbsp&nbsp
                    a(href='http://www.miitbeian.gov.cn/' target='_blank') 京ICP备17033650号
                    span &nbsp&nbspQQ群&nbsp
                        a(href='//shang.qq.com/wpa/qunwpa?idkey=ab0d123c709d7d8b750a492eec58d76af42cb55587028e01f655ba5fe02eaf0c' target='_blank') 65050280
                    a(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033407' target='_blank') &nbsp&nbsp京公网安备11010502033407号
                    |&nbsp&nbsp&nbsp&nbsp网站还在调试中欢迎加入QQ群反馈问题